
#home{
    display: flex;
    min-height:calc(100vh - 91px) ;
    justify-content: space-around;
    background-color: var(--cor2);
}
#titulo{
    width: 65%;
    display: flex;
    flex-direction:column ;
    gap: 28px;
    margin-top: 5%;
}
#titulo, .title{
    background-color: transparent;
    font-family: 'principal';
    font-size: 12rem;
    line-height: 138px;
    font-weight: 500;
    color: var(--cor1);
    
}
.social-media-buttons{
 display: flex;
 gap: 18px;
 font-size: 14px;
 color: var(--cor2);  
 justify-content: end;
 margin: 0 90px 0 0;
 background-color: transparent;
}
.social-media-buttons i{
 color: var(--cor1); 
 line-height: 18px;
 border-bottom: 2px solid var(--cor1);
 background-color: transparent;
}
.social-media-buttons a{
 background-color: transparent;
}
#imgPerfil{
    display:flex;
    align-items: center;
    justify-content: end;
    width: 30%;
    background-color: transparent;
}
#imgPerfil img{
    width: 100%;
    border-radius: 20% 3% 30% 3%;
}

@media screen and (max-width:1130px){
    #titulo{
        width: 50%;
        align-items: center;
    }
    .title{
        line-height: 60px;
        font-size: 9.8rem;
    }
    .social-media-buttons i{
        font-size: 10px;
    }
}
@media screen and (max-width:830px){
    #home{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .title{
        line-height: 50px;
        font-size: 7.5rem;
    }
    .social-media-buttons{
        font-size: 10px;
        flex-direction: column;
        margin: 10px 0px 0px 0px;
        line-height: 0px;
        text-align: center;
     }
     #imgPerfil{
        width: 60%;
     }

}

/* @media screen and (max-width:900px) {
    #home{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: antiquewhite;
    }
    #titulo{
    width: 100%;
    display: flex;
    flex-direction:column ;
    gap: 3px;
    }
    
    #titulo .title{
    margin: 0 auto;
    line-height: 60px;  
    }
    .social-media-buttons{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 10px;
    }
    #imgPerfil{
    width: 80%;
}
} */
